<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron query-form">
        <form id="read" method="POST">
          <h2>이름으로 찾기</h2>
          <label>이름</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="이름"
            required
          />
          <button type="submit">찾기</button>
        </form>
        <hr />

        <% owners.forEach(function(owner){ %>
        <div class="view">
          <h5><%= owner.name %></h5>
          <ul>
            <li><strong>id</strong>: <%= owner._id %></li>
            <li><strong>email</strong>: <%= owner.email %></li>
            <li><strong>deposit</strong>: <%= owner.deposit %></li>
          </ul>
          <br />
        </div>
        <% }); %>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
